<h2>Your monthly statistics</h2>
<table class="statistics table table-striped">
  <thead>
    <tr>
      <td> Day </td>
      <td> Distance </td>
    </tr>
  </thead>
  <tbody>
    <% @monthly_statistics.each do |day| %>
      <tr>
        <td> <%= day.first.last %> </td>
        <td> <%= day.last %> km </td>
      </tr>
    <% end %>
  </tbody>
</table>
