<h3>Your last distance is: <%= @activity.distance %> km</h3>
<h3>This week you fitofitted: <%= @weekly_distance %> km</h3>

<div class="buttons">
  <%= button_to "Add new activity", root_path, :method => :get, class:'btn submit' %>
  <%= button_to "Show statistics", statistics_path, :method => :get, class:'btn submit' %>
</div>
